<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <!--<%= devise_error_messages! %>-->

  <!--Mostrando mensagens de erro --->
  <% resource.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
     <strong><%= message%></strong>
    </div>
  <% end %>

  <div class="form-box">
    <div class="form-row">
      <div class="field">
        <%= f.label :Nome %><br />
        <%= f.text_field :name, class:'submit' %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class:'submit', autofocus: true, required: true %>
      </div>

      <!--<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>-->
    </div>

    <div class="form-row">
      <div class="field">
        <%= f.label "Nova Senha" %> <span>(deixe em branco caso nao queira alterar)</span><br />
        <%= f.password_field :password, class:'submit' %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> caracteres</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label "Senha Atual" %> <span>, por questão de segurança</span><br />
        <%= f.password_field :current_password, class:'submit', required: true%>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "atualizar meu perfil", class: 'button-perfil' %>
    </div>
  </div>

<% end %>
<!--<h3>Cancel my account</h3>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= link_to "Back", :back %>-->
