<!DOCTYPE html>
<html>
  <head>

    <title>Dinnerdash</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "header" %>
  </head>

  <body>  
      <div class="home-categories-box">
          <% @categories.each do |category| %>
            <span class="category-name"><%= category.name %></span> 
            <div class="category-box">
              <% @meals.where(:category_id => category.id).each do |meal| %>
                <div class="meal-box">    
                  <div class="meal-image">
                    <% if meal.image != nil %>
                      <%= image_tag(meal.image) %>
                    <% end %>
                    <!--<div class="meal-name">
                    <span><%= meal.name %><span>
                    </div>-->                  
                  </div>
                  <div class="meal-info">
                    <div class="descricao">
                      <%= meal.description %>
                    </div>
                    <span class="preco">R$ <%= sprintf("%.2f", meal.price).gsub '.',',' %> por porção</span>
                    <div class="quantity-box form-group">
                      <span class="quantidade">Quantidade</span>
                      <select class="selector-meal form-control">  
                        <option selected>1</option>
                        <% (2..10).each do |number| %>
                        <option value="<%=number%>"><%=number%></option>
                        <% end %>
                      </select>
                      <button type="button" class="button-meal">adicionar ao meu prato</button>
                    </div>
                  </div>
                </div>

              <% end %>
            </div>
          <% end %>     
      </div>
  </body>
</html>
