<div class="folder-order">
<div class="col p-0">
<h3 class="margin">O seu pedido:</h3>
<p class=" margin mt-3 gray">confira os itens pedidos antes de finalizar o pedido</p>
<div class="order-box-order">
  <% @order.each do |item|%>
  <div class="item-box mb-0" style="width: 41%;">
    <img src= "<%= image_meal(item.meal) %>" class="item-image">
    <div class="item-text">
      <div class="item-name"><%= item.meal.name %></div>
      <div class="item-info">
        <span>Quantidade: <%= item.quantity %></span>
        <span>Preço unitário: R$ <%= sprintf("%.2f", item.unit_price).gsub '.',',' %></span>
        <span>Preço total: R$ <%= sprintf("%.2f", item.total_price).gsub '.',',' %></span>
      </div>
    </div>
    <div class="item-form ml-5">
      <%= form_for( item , remote: true) do |f| %>
        <div class="item-options-order">
          <%= f.label :Quantidade, class: 'item-form-label' %>
          <%= f.select :quantity, (1..10),{},{class: 'selector-item py-1', id: item.id, meal_id: item.meal.id } %>
          <%= link_to "remover do meu prato", item, method: :delete, remote: true, class: 'button-item-delete  px-3 mt-3 py-1' %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<div class="col pl-0 mb-5 margin"  style="width: 73.5%;">
<div class="linhaback" ></div>
<div class="row pl-0">
  <div class="col p-0">
  <h3 class="ml-3">Esqueceu algo?</h3>
  <%= link_to "clique aqui", root_path,class:"ml-3"%><span class="ml-2">para retornar ao nosso menu.<span>
</div>
  <div class="col p-0 margin">
    <div class="cart-title p-0">Preço total do pedido: <span class="total-price-span">R$ <%= sprintf("%.2f", current_order.subtotal).gsub '.',',' %></span></div>
    <div class="button-total-price-box">
    <!--Botao falso por enquanto, tirar duvidas-->
      <%= link_to('finalizar pedido', orders_finish_path, class: 'button-total-price-log-in')%>
    </div>
</div>
</div>
</div>
</div>
</div>

<div class="last-orders">
  <div class="col p-0 margin">
  <h3 class="mt-5 mb-4">Pedidos anteriores</h3>
<table class="table" style="width: 73.5%;">
  <thead>
    <tr>
      <th scope="col pl-2" style="width: 18%;">Pedido de nº</th>
      <th scope="col" style="width: 23%;">Status</th>
      <th scope="col">Data</th>
      <th scope="col">Preço total</th>
      <th scope="col">Detalhes</th>
    </tr>
  </thead>
  <tbody>
    <% @order.each do |order|%>
    <tr>
      <td><%= order.id %></td>
      <td><span class="badge badge-primary px-5 py-2">pendente</span></td>
      <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
      <td>R$ <%= sprintf("%.2f", current_order.subtotal).gsub '.',',' %></td>
      <td><button type="button" class="btn btn-link p-0" data-toggle="modal" data-target=".bd-example-modal-lg">ver itens pedidos</button></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalhes do pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row" id="margin">
          <% @order.each do |item|%>
          <div class="item-box mb-0 ml-2" style="width: 45%;">
            <img src= "<%= image_meal(item.meal) %>" class="item-image">
            <div class="item-text">
              <div class="item-name"><%= item.meal.name %></div>
              <div class="item-info">
                <span>Quantidade: <%= item.quantity %></span>
                <span>Preço unitário: R$ <%= sprintf("%.2f", item.unit_price).gsub '.',',' %></span>
                <span>Preço total: R$ <%= sprintf("%.2f", item.total_price).gsub '.',',' %></span>
              </div>
            </div>
          </div>
          <% end %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary px-5" data-dismiss="modal">fechar</button>

      </div>
    </div>
  </div>
</div>
