<div class="table-box">
    <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">Pedido de n</th>
            <th scope="col">Status</th>
            <th scope="col">Data</th>
            <th scope="col">Usuário</th>
            <th scope="col">Preço total</th>
            <th scope="col">Detalhes</th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
                <tr id="<%= order.id %>">
                <td>
                    <%= order.id %>
                </td>
                <td> <% if order.status.nil? %>
                    <span>Pendente</span>
                <% end %>
                </td>
                <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
                <td><% if !@users.find_by_id(order.user_id).nil? %>
                    <%= @users.find_by_id(order.user_id).name %>
                    <% end %>     
                </td>
                <td><%= order.subtotal %></td>
                
                
                </tr>last
            <% end %>
        </tbody>    
    </table>
</div>
