<%= form_with(model: meal, local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col" style="width: 90rem;">
        <%= form.label :name%>
          <%= form.text_field :name,class:"form-control" %>
    </div>
    <div class="col">
          <%= form.label :category_id %>
      <select class="form-control" <%= form.collection_select(:category_id, Category.all, :id, :name, prompt: true) %></select>
    </div>
  </div>

  <div class="form-group" >

      <%= form.label :description %>
       <textarea class="form-control" aria-label="With textarea" <%= form.text_field :description,class:"form-control"%> </textarea>

  </div>

  <div class="row">
    <div class="col" style="width: 90rem;">
          <%= form.label :price %>
          <%= form.text_field :price ,class:"form-control" %>
    </div>
    <div class="col">
      <div class="marginss"><%= form.file_field :image, accept: 'image/png,image/jpeg' %></div>
    </div>
  </div>

  <div class="col-p-0" style="width: 50.7rem;">
        <%= form.label :available %>
    <select class="form-control" <%= form.select(:available, ['Sim','Não'], {include_blank: false}) %></select>
  </div>

<div class="row" style="width: 50.7rem;" id="topmargin">
  <div class="pad">
    <div class="actions" style="width: 15rem;">
  <%= form.submit "Atualizar Refeicoes",class:"button" %>
  </div>

  </div>
    <div class="pad">
    </div>
    <%= link_to "Voltar", meals_path,class:"btn btn-secondary",id:"none"%>
</div>
<% end %>
