<%= render 'layouts/backofficeBar'%>

<div class="folder" align="center">
    <div class="card-deck">
      <% @meals.each do |meal| %>
      <div class="meal-box" id="p">
        <div class="meal-image" style="background-image: url(<%= rails_blob_url(meal.image) %>)">
          <div class="meal-name" align="center">
            <span><%= meal.name %><span>
          </div>
        </div>
        <div class="meal-info">
          <div class="descricao">
            <%= meal.description %>
          </div>
          <span class="preco">R$ <%= sprintf("%.2f", meal.price).gsub '.',',' %> por porção</span>
          <div class="quantity-box">
            <%= link_to 'Edite', edit_meal_path(meal),class: "btn btn-warning btn-block"%>
            <%= link_to 'Delete', meal, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-block" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>

 <div class="buttomPad">
<%= link_to "Nova refeiçao", new_meal_path ,class:"btn btn-success col-md-2"%>
</div>
