
<div class="folder">
    <div class="card-group m-0" id="margin">
      <% @meals.each do |meal| %>
      <div class="meal-card" id="botmargin" >
        <div class="meal-image" style="background-image: url(<%= image_meal(meal) %>)">
          <div class="meal-name" align="center">
            <span><%= meal.name %><span>
          </div>
        </div>
        <div class="meal-info">
          <div class="descricao">
            <%= meal.description %>
          </div>
          <span class="preco" id="toppreco">R$ <%= sprintf("%.2f", meal.price).gsub '.',',' %> por porção</span>
          <div class="button-box"  id="toppad">
              <div class="row">
                <div class="col" id="nopad">
                  <%= link_to 'editar', edit_meal_path(meal),class: "btn btn-warning btn-block"%>
                </div>
                <div class="col">
                  <%= link_to 'excluir', meal, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-block" %>
                </div>
              </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="pad7 ml-0">
   <%= link_to "nova refeição", new_meal_path ,class:"btn btn-success col-md-3"%>
   </div>
</div>
