
<%= image_tag("backoffice.jpg", :alt => "backoffice", :class => "imagem") %>
<%= render 'layouts/backofficeBar'%>

<div class="folder" align="center">
    <% @meals.each do |meal| %>
    <div class="card-deck">
      <div class="p">
        <div class="card " id="padding" style="width: 16rem;">
              <%= image_tag("backoffice.jpg", :alt => meal.image, :class => "card-img-top") %>
              <div class="card-body">
              <h5 class="card-title" id="nome-meal"><%= meal.name %></h5>
              <p class="card-text"><small class="text-muted"><%= meal.description %></small></p>
              <p class="card-text"><small class="text-muted"><span id="price">R$:<%= meal.price %></span></small></p>
              <%= link_to 'Edite', edit_meal_path(meal),class: "btn btn-warning btn-block"%>
              <%= link_to 'Delete', meal, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-block" %>
            </div>
          </div>
        </div>
    </div>
<% end %>

 </div>
 <div class="pad3">
<%= link_to "Nova refeiçao", new_meal_path ,class:"btn btn-success col-md-2"%>
</div>
