<div class="back">
		<%= image_tag("dinner.jpg", :alt => "Dinner", :class => "tamanho") %>
		<div class="log" class="center">
			<div class="titulo"><h1>Dinnerdash</h1></div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="pad">
					<p>Email</p>
					<div> <input type="text" id="email" <%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
				</div>
				<div class="pad">
					<p>Senha</p>
					<div> <input type="password" id="password" <%= f.password_field :password, autocomplete: "current-password" %></div>
        </div>
				<div class="pad1">
					<div align="center"><input class="button" type="submit" name="Fazer Login"></div>
				</div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

			<div class="linha"></div>
			<div class="pad1"><span id="bold">Já possui conta?</span></div>
			<div class="pad1">
			<%=button_to "Sign-un", new_user_registration_path, :class => "buttonc" %>
		</div>
	</div>
</div>
