
<div class="folder">
		<table class="tabela">
		<thead class="head">
		<tr class="tr">
			<th>Nome</th>
			<th class="p-0">Número de Refeições</th>
			<th class="p-0">Cadastrada em</th>
			<th colspan="3"></th>
</tr>
        </thead>
				          <% @categories.each do |category| %>
        <tbody>

              <td><div class="gray"><%= category.name %></div></td>
              <td><div class="gray"><%= category.meals.length %></div></td>
              <td><div class="gray"><%= category.created_at.strftime("%d/%m/%Y") %></div></td>
              <td><%= button_to 'editar', edit_category_path(category), method: 'get',class: "Edit"%></td>
              <td><%= button_to 'excluir', category_path(category), method: 'delete', data: { confirm: 'Deseja Mesmo Excluir ?' },class: "Del"%></td>
 
        </tbody>
<% end %>
</table>
					<div class="pad8">
        <%= link_to "nova categoria de refeição", new_category_path ,class:"btn btn-success col-md-3 btn-block"%>
				</div>
	</div>
