
<%= image_tag("backoffice.jpg", :alt => "backoffice", :class => "imagem") %>
<%= render 'layouts/backofficeBar'%>
<div class="folder_fixed">
      <div class="pad3">
        <%= form_with model: @category do |form| %>
        <p>Crie uma categoria</p>
        <%= form.text_field :name, placeholder: "name",autofocus: true,class: "holder"  %>
      </div>
      <% end %>
      <div class="pad3">
      	<%= link_to "Nova Categoria", categories_path ,class:"btn btn-success col-md-2"%>
      </div>
			</div>
