<!DOCTYPE html>
<html>
  <head>
    <title>Dinnerdash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'Logo CJR.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(new_user_registration_url) ||  controller_name == 'sessions' %>
    <% else %>
      <%= render "layouts/header" %>
    <% end %>

    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
       <strong><%= notice %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if alert && controller_name != 'sessions'%>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
       <strong><%= alert %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
